/* You can add global styles to this file, and also import other style files */
*{
    color: #000000;;
}

.bg-dark{
    background-color: #000000 !important;
}

a{
    color: #000000;
    text-decoration: underline;
}
  
